* {
	font-family: avenir, sans-serif;
}


.modal h3,h4{
	color: #428bca;
}

.titulo h3{
	color: #428bca;
}

.titulo p{
	font-size: 16px;
}

.modal label{
	color: #626262;
}


#datosObligatorios{
	color: #626262;
}

#logo {
	display: block;
	margin-left: 17%;
	margin-top: 2%;
}

#logo img {
	width: 100%;
	height: 100%;
}

#carrito img {
	width: 55%;
	height: 55%;
	margin-top: 27%;
	margin-left: -50%;
}

#but {
	margin-bottom: 0.5%;
}

#but button a:link, #but button a:visited, #but button a:hover, #but button a:active {
	color: rgb(255,255,255);
}

.footer {
	margin-top: 10px;
	padding-top: 10px;
}
.footer ul {
	padding-left: 0px;
	list-style: none;
}

.footer ul li {
	margin: 7px 0;
}

.footer h3{
	color: white;
}

.offer {
	margin-top: 115px;
}

/**
 * 	A partir de aca agregue...
 **/

.navbar-brand img {
	margin-left: 30%;
	height: 120%;
	width: 50%;
}

#carrito img {
	width: 45%;
	height: 45%;
	margin-top: -3%;
	margin-bottom: -3%;
}

#carrito {
	width: 100px;
	margin-right: 20px;
}

#ingresar {
	margin-top: 10%;
	margin-left: -50%;
}

#ingresar3{
	float: right;
	text-transform: uppercase;
}

#registrarse{
	float: right;
	text-transform: uppercase;
}

.menubutton {
	width: 200px;
	color: white;
}
#f1 {
	margin-left: 12%;
}

.searchbar {
	margin-left: 100px;
	width: 400px;
}

h3 {
	color: #e0e0e0;
}

#construccion {
	margin-top: 20%;
	margin-bottom: 20%;
}

#columna2 {
	border-left: 1px solid #C0C0C0;
	margin-left: 1%;
}

.dropdown-toggle {
	color: #fff;
}

/**Menu**/
.dropdown-large {
	position: static !important;
}
.dropdown-menu-large {
	margin-left: 16px;
	margin-right: 16px;
	padding: 20px 0px;
	left: inherit;
	 
}
.dropdown-menu-large > li > ul {
	padding: 0;
	margin: 0;
}
.dropdown-menu-large > li > ul > li {
	list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	font-size: 12px;
	line-height: 1.428571429;
	color: #333333;
	white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover, .dropdown-menu-large > li ul > li > a:focus {
	text-decoration: none;
	color: #262626;
	/*background-color: #f5f5f5;*/
	background-color: #d6ebff;
}
.dropdown-menu-large .disabled > a, .dropdown-menu-large .disabled > a:hover, .dropdown-menu-large .disabled > a:focus {
	color: #999999;
}
.dropdown-menu-large .disabled > a:hover, .dropdown-menu-large .disabled > a:focus {
	text-decoration: none;
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header a{
	color: #080808;
	border-bottom: 1px solid #e5e5e5;
	font-size: 12px;
	font-weight: bold;
}
@media (max-width: 768px) {
	.dropdown-menu-large {
		margin-left: 0;
		margin-right: 0;
	}
	.dropdown-menu-large > li {
		margin-bottom: 30px;
	}
	.dropdown-menu-large > li:last-child {
		margin-bottom: 0;
	}
	.dropdown-menu-large .dropdown-header {
		padding: 3px 15px !important;
	}
}

#butlog {
	margin-top: 10%;
	margin-left: -50%;
}

#datosObligatorios{
	font-size: 11px;
}

.datosObligatorios{
	font-size: 11px;
	color: #626262;
}

div#alerta {
    position:fixed;
    width: 38%;
    left:30%;
    top:130px;
    z-index: 200;
}

#errores2{
	margin-left: 6.5%;
	width: 90%;
	font-size: 13px !important;
}
#errores1{
	margin-left: 6.5%;
	width: 90%;
	font-size: 13px !important;
}

.msgcart{
	position:fixed;
    width: 38%;
    left:30%;
    top:130px;
    z-index: 200;
    font-size: 17px;
}